
<h4>Angular Project-2</h4>
<h1>Login Form</h1>
<form style="display: flex;justify-content: center;" id="form">
  <div class="main">
    <Label>Admin Login</Label><br><br>
    <label  class="inn" >User Id: </label><input type="text" [(ngModel)]="user" required name="user-id" #use><br><br>
     <label  class="inn" >Password: </label><input type="password" [(ngModel)]="pass" name="password" #pa><br><br>
    <input type="button" value="submit" (click)="verf()" class="sub">
  </div>
   

 
</form>
<div [ngSwitch]="Ouser && Opass">
    <div *ngSwitchCase="'verify.value'" > <h4 style="color: red;">Invald Input </h4></div>
    <div *ngSwitchCase="'!verify.value'"><h1 style="color: green;">Welcome Admin</h1>
      <style>
        #form{
          display: none;
        }
      </style>
    </div>
</div>

